
<style>
    /*body{
        overflow:hidden
    }*/
</style>
    <link href="~/Content/StyleSheet4.css" rel="stylesheet" />



    <body>
        <div class="row" style="       margin-right: 4px;
    margin-left: 21px;">
            <div class="col-lg-3 col-sm-12">
                <div class=" ">
                    <select class="form-control">
                        <option value="0"> Hub</option>
                        <option value="1">Bangalore</option>
                    </select>
                </div>
            </div>
            <div class=" col-lg-3 col-sm-12">
                <div class="">
                    <select class="form-control">
                        <option value="0"> Branch</option>
                        <option value="1">bannerghatta</option>
                    </select>
                </div>
            </div>
            <div class=" col-lg-3 col-sm-12">
                <div class="">
                    <select class="form-control">
                        <option value="0"> Customer</option>
                        <option value="1">Google</option>
                    </select>
                </div>
            </div>
            <div class=" col-lg-3 col-sm-12">
                <div class="">
                    <input type="text" id="rangeDate" class="form-control" placeholder=" Date " data-input style="background-color:white;">
                    <i class="fa fa-calendar" aria-hidden="true" style="float:right;margin: -30px 15px 0 0;color:red;"></i>
                </div>
            </div>

        </div>

        <div class="row f3" style="    margin-top: 15px;">

            <div class=" col-lg-4 col-sm-12">
                <div class="">
                    <select class="form-control">
                        <option value="0"> Assignment ID & Adress</option>
                        <option value="1">Google</option>
                    </select>
                </div>
            </div>
            <div class=" col-lg-4 col-sm-12">
                <div class="">
                    <input type="text" id="rangeDate" class="form-control" placeholder=" Date " data-input style="background-color:white;">
                    <i class="fa fa-calendar" aria-hidden="true" style="float:right;margin: -30px 15px 0 0;color:#ff243a "></i>
                </div>
            </div>
            <div class=" col-lg-4 col-sm-12">
                <div>
                    <div class="btn-group">
                        <!--<button type="button" class="btn btn-danger">OnSite</button>-->
                        <button type="button" class="btn btn-default" id="off" style="background-color:#ff243a;"><span style="color:white;"><a href="#">Submit</a></span></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            <div class="row" style="background-color:#ff243a;margin:0px;    padding: 4px 1px 7px 4px;">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <form>
                        <input id="myInput" type="text" placeholder=" Search" class="form-control" style="border-radius: 17.25rem;width:68%;" />
                        <button type="submit" class="search-btn" style="       border-radius: 20px;
    width: 11%;
    position: absolute;
    top: 2%;
    /* left: 171px; */
    right: 34%;
    border: none !important;
    height: 36px;">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h5 style="padding: 1% 0 0 23%;color: blue;text-align: center;">  Detailed Report</h5>
                </div>
                <div id="MQ1" class="col-lg-4 col-md-4 col-sm-4" style="text-align:right;">
                    <i class="fa fa-file-pdf-o circle-icon /" aria-hidden="true" style="color:red"></i>
                    <i class="fa fa-file-excel-o circle-icon /" aria-hidden="true" style="color:green;"></i>
                </div>
            </div>

            <div class="div1" style="    margin-top: 10px;">
                <table class="table1">
                    <thead id="myTable">
                        <tr>

                            <th> Customer Name</th>
                            <th>Customer Code</th>
                            <th> Assignment Address </th>
                            <th>  Assignment Id</th>
                            <th> Duty Date</th>
                            <th>Shift Code</th>
                            <th>Contracted Manpower</th>
                            <th>Contracted Hrs</th>
                            <th>Scheduled Manpower</th>
                            <th>Performed Hours</th>
                            <th>Authorized/Not Authorized</th>
                            <th>Regular Additional deployment Count</th>
                            <th>Regular Additional deployment HRS</th>
                            <th>Unscheduled Additional deployment Count</th>
                            <th>Unscheduled Additional deployment HRS</th>
                            <th>Temporary Additional deployment Count</th>
                            <th>Temporary Additional deployment HRS</th>
                            <th>No. of Replaced by cases</th>
                            <th>No. of Service Decrease Cases</th>
                            <th>Hrs. of Service Decrease Cases</th>
                            <th>No. of Vacant Post</th>
                            <th>Hrs. of Vacant Post</th>

                            <th> No. of Shift Continued (OT)</th>

                            <th>Designation</th>
                            <th> ApprovedBy</th>
                            <th>Approved Person Name</th>
                        </tr>
                    </thead>
                    <tbody class="aa3" id="myTable">
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>


                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>
                        <tr>

                            <th>AdviceAmerica Software Development Center</th>
                            <td>17533</td>
                            <td>23 and 24 3rd Floor AMR Tech Park</td>
                            <td>A1-BAN</td>
                            <td>6/10/2019</td>
                            <td> N</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> 1</td>
                            <td> 12</td>
                            <td> Authorized</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 1</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td> 0</td>
                            <td>Operation Officer</td>
                            <td>  439292</td>
                            <td>  SUBRAMANYAM C</td>
                        </tr>




                    </tbody>
                </table>
            </div>
        </div>

        <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        </script>


    </body>


