
@{
    ViewBag.Title = "SummaryReport";
    Layout = "~/Views/Shared/_LayoutPageOffSite.cshtml";
}
    <head>
        <link href="~/Content/StyleSheet3.css" rel="stylesheet" />
        <style>
            td {
                font-size:13px;
                text-align:center;
                padding: 3px;
            }
        </style>
    </head>
   <div class="row">
       <div class="col-lg-1"></div>
       <div class="col-lg-10">
           <div class="row">
               <div class="col-lg-4 col-sm-12">
                   <div class="">
                       <select class="form-control">
                           <option value="0">G4S Officials</option>
                           <option value="1">Srinivas Rao Pasupuleti</option>
                       </select>
                   </div>
               </div>
               <div class=" col-lg-4 col-sm-12">
                   <div class="">
                       <input type="text" id="rangeDate" placeholder=" Date " data-input class="form-control" style="background-color:white;">
                       <i class="fa fa-calendar" aria-hidden="true" style="float:right;margin: -30px 15px 0 0; color:#ff243a"></i>
                   </div>
               </div>
           </div>
           <div class="row" style="    padding: 1% 0%; margin-bottom: -1%;">
               <div class="col-lg-10 col-md-9 col-sm-9">
                   <h5 style="padding: 10px; margin: 0 50% 0 0;color: white;background-color: #ff243a; border-radius: 10px;font-size: 15px;">
                       No . Of Client in threat to termination
                       <a href="#" style="border-radius: 10px;background-color: white;border-color: #ff0000;padding: 2px 20px 2px 20px;color: #ff0000; margin-left: 50px;">92</a>
                   </h5>
               </div>

           </div>
       </div>
       <div class="col-lg-1"></div>
  
</div>

<div class="row" style="padding: 1% 0%;">
    <div class="col-lg-3 col-sm-12">
        <form>
            <input type="search" placeholder="Search" class="form-control" style="border-radius: 17.25rem;" />
            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div>
    <table class="table-bordered" style="width:100%;">
        <thead style="background:#e6e7e8;color:black;white-space: nowrap;font-size: 14px;">
            <tr style="text-align:center;">
                <th>Date</th>
                <th>Client Location</th>
                <th>G4S Officials</th>
                <th>CheckList Type</th>
                <th>Incidents</th>
                <th>Complaints</th>
                <th>BGV Count</th>
                <th>Download</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>17/06/2019</td>
                <td>WIPRO LIMITED-MKDPhaseSEZ</td>
                <td>Srinivas Rao Pasupleti</td>
                <td>Others</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><i class="fa fa-file-excel-o circle-icon" style="color:green;border:1px solid #ccc;"></i> &nbsp;<i class="fa fa-file-pdf-o circle-icon" style="color:red;border:1px solid #ccc;"></i></td>
            </tr>
            <tr>
                <td>17/06/2019</td>
                <td>WIPRO LIMITED-MKDPhaseSEZ</td>
                <td>Srinivas Rao Pasupleti</td>
                <td>Others</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><i class="fa fa-file-excel-o circle-icon" style="color:green;border:1px solid #ccc;"></i> &nbsp;<i class="fa fa-file-pdf-o circle-icon" style="color:red;border:1px solid #ccc;"></i></td>
            </tr>
            <tr>
                <td>17/06/2019</td>
                <td>WIPRO LIMITED-MKDPhaseSEZ</td>
                <td>Srinivas Rao Pasupleti</td>
                <td>Others</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><i class="fa fa-file-excel-o circle-icon" style="color:green;border:1px solid #ccc;"></i> &nbsp;<i class="fa fa-file-pdf-o circle-icon" style="color:red;border:1px solid #ccc;"></i></td>
            </tr>
            <tr>
                <td>17/06/2019</td>
                <td>WIPRO LIMITED-MKDPhaseSEZ</td>
                <td>Srinivas Rao Pasupleti</td>
                <td>Others</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><i class="fa fa-file-excel-o circle-icon" style="color:green;border:1px solid #ccc;"></i> &nbsp;<i class="fa fa-file-pdf-o circle-icon" style="color:red;border:1px solid #ccc;"></i></td>
            <tr>
                <td>17/06/2019</td>
                <td>WIPRO LIMITED-MKDPhaseSEZ</td>
                <td>Srinivas Rao Pasupleti</td>
                <td>Others</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><i class="fa fa-file-excel-o circle-icon" style="color:green;border:1px solid #ccc;"></i> &nbsp;<i class="fa fa-file-pdf-o circle-icon" style="color:red;border:1px solid #ccc;"></i></td>
            <tr>
                <td>17/06/2019</td>
                <td>WIPRO LIMITED-MKDPhaseSEZ</td>
                <td>Srinivas Rao Pasupleti</td>
                <td>Others</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><i class="fa fa-file-excel-o circle-icon" style="color:green;border:1px solid #ccc;"></i> &nbsp;<i class="fa fa-file-pdf-o circle-icon" style="color:red;border:1px solid #ccc;"></i></td>
            </tr>
            </tr>
            </tr>

        </tbody>
    </table>
    
</div>

