<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Our Custom CSS -->
    @*<link href="~/Content/StyleSheet4.css" rel="stylesheet" />*@
    <link href="~/Content/test.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet2.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/flatpickr.js"></script>
    <link rel="stylesheet" href="~/Content/flatpickr.min.css">

    <script>
        $(document).ready(function () {
            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }


            $(".file-upload").on('change', function () {
                readURL(this);
            });

            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            $("#rangeDate").flatpickr({
                mode: 'range',
                dateFormat: "Y-m-d"
               

            });
           

        });

        $(document).ready(function () {

            $('div.dropdown').each(function () {
                var $dropdown = $(this);

                $("a.dropdown-link", $dropdown).click(function (e) {
                    e.preventDefault();
                    $div = $("div.dropdown-container", $dropdown);
                    $div.toggle();
                    $("div.dropdown-container").not($div).hide();
                    return false;
                });

            });

            //$('html').click(function () {
            //    $("div.dropdown-container").hide();
            //});

        });

        $(function () {
            setNavigation();
        });

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);

            $(".nav a").each(function () {
                var href = $(this).attr('href');
                if (path.substring(0, href.length) === href) {
                    $(this).closest('li').addClass('active');
                }
            });
        }
        $(document).ready(function () {
            $("#test").click();
        });

        $(document).ready(function () {
            $('#mainmenu li:first-child').addClass('active');
            $('li').each(function () {
                if (window.location.href.indexOf($(this).find('a:first').attr('href')) > -1) {
                    $(this).addClass('active').siblings().removeClass('active');
                }
            });
        });

        $('li').each(function () {
            if (window.location.href.indexOf($(this).find('a:first').attr('href')) > -1) {
                $(this).addClass('active').siblings().removeClass('active');
            }
        });

        $(document).ready(function () {
            $('.fa-caret-down').on('click', function () {
                if ($(this).hasClass('fa-caret-down')) {
                    $(this).removeClass('fa-caret-down').addClass('fa-caret-up');
                } else {
                    $(this).removeClass('fa-caret-up').addClass('fa-caret-down');
                }
            });
        });

    </script>
    <style>

        #OffSiteBtn {
            border-radius: 30px;
            background-color: white;
            width: 100px;
            padding: 5px 30px 5px 7px;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">

                <div class="row">
                    <div>
                        <div class="circle">
                            <!-- User Profile Image -->
                            <img class="profile-pic" />

                            <!-- Default Image -->
                            <i class="fa fa-user fa-5x" style="        margin: 9% 27%;color:#d8caca;"></i>
                        </div>
                        <div class="p-image">
                            <i class="fa fa-camera upload-button"></i>
                            <input class="file-upload" type="file" accept="image/*" />
                        </div>
                    </div>
                </div>
                <br />
                <h5 style="color:black">Chandini</h5>
                <h5 style="color:black">Branch Manager</h5>
            </div>
            <div class="nav">
            <div id="dropdown-2" class="dropdown dropdown-processed">

                <a class="dropdown-link" id="test" href="#" style="display:block;    padding: 10px;"><i class="fa fa-file-image-o" aria-hidden="true"></i> &nbsp; E-Posting Sheet <i class="fa fa-caret-down" style="    float: right;
    margin: 5px;"></i></a>

                <div class="dropdown-container" style="display: none;    background-color: rgb(255, 102, 105);">
                    <ul id="mainmenu" class="list-unstyled components">
                        <li>
                            <a href="/Dashboard/index">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;         DashBoard
                            </a>
                        </li>
                        <hr style=" margin: 0;   border-top: 2px solid;" />
                        <li>
                            <a href="/summary/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Summary</a>
                        </li>
                        <hr style=" margin: 0;   border-top: 2px solid;" />
                        <li>
                            <a href="/detailreports/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Detailed Report</a>
                        </li>
                        <hr style=" margin: 0;   border-top: 2px solid;" />
                        <li>
                            <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;         Feedback</a>
                        </li>

                    </ul>
                </div>
            </div>
                </div>
            <hr style=" margin: 0;   border-top: 2px solid;" />
            <div id="dropdown-2" class="dropdown dropdown-processed">
                <a class="dropdown-link" href="#" style="display:block;    padding: 10px;"><i class="fa fa-file-image-o" aria-hidden="true"></i> &nbsp; GMS</a>
                <div class="dropdown-container" style="display: none;">
                    <ul class="list-unstyled components">
                        <li class="act">
                            <a href="/Dashboard/index">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;         DashBoard
                            </a>
                        </li>
                        <hr style=" margin: 0;   border-top: 2px solid;" />
                        <li>
                            <a href="/summary/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Summary</a>
                        </li>
                        <hr style=" margin: 0;   border-top: 2px solid;" />
                        <li>
                            <a href="/detailreports/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Detailed Report</a>
                        </li>
                        <hr style=" margin: 0;   border-top: 2px solid;" />
                        <li>
                            <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;         Feedback</a>
                        </li>
                        <hr style=" margin: 0;   border-top: 2px solid;" />
                    </ul>
                </div>
            </div>


            @*<div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>*@

            @*<div class="dropdown">
            <button class="dropbtn"><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;ESP</button>
            <div class="dropdown-content">
                <a href="/Dashboard/index">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;         DashBoard
                </a>
                <hr style=" margin: 0;   border-top: 2px solid;" />

                <a href="/summary/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Summary</a>

                <hr style="margin: 0;  border-top: 2px solid;" />

                <a href="/detailreports/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Detailed Report</a>

                <hr style="margin: 0;  border-top: 2px solid;" />

                <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;         Feedback</a>

                <hr style="margin: 0; border-top: 2px solid;" />
            </div>
        </div>
        <hr style="margin: 0; border-top: 2px solid;" />
        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;GMS</button>
            <div class="dropdown-content">
                <a href="/Dashboard/index">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;         DashBoard
                </a>
                <hr style=" margin: 0;   border-top: 2px solid;" />

                <a href="/summary/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Summary</a>

                <hr style="margin: 0;  border-top: 2px solid;" />

                <a href="/detailreports/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Detailed Report</a>

                <hr style="margin: 0;  border-top: 2px solid;" />

                <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;         Feedback</a>

                <hr style="margin: 0; border-top: 2px solid;" />
            </div>
            <hr style="margin: 0; border-top: 2px solid;" />
        </div>*@
            @*<ul class="list-unstyled components">
            <li>
                <a href="/Dashboard/index">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;         DashBoard
                </a>
            </li>
            <hr style=" margin: 0;   border-top: 2px solid;" />
            <li>
                <a href="/summary/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Summary</a>
            </li>
            <hr style="margin: 0;  border-top: 2px solid;" />
            <li>
                <a href="/detailreports/index"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;         Detailed Report</a>
            </li>
            <hr style="margin: 0;  border-top: 2px solid;" />
            <li>
                <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;         Feedback</a>
            </li>
            <hr style="margin: 0; border-top: 2px solid;" />
        </ul>*@



            <br />
            <br />
            <center>
                <ul class="list-unstyled CTAs">

                    <li class="fixed-bottom">
                        <a href="/login/login" style="color:red; font-weight:500; padding: 7px 65px 7px 65px;
    margin: 0 0 0 -6px;">
                            Logout
                            &nbsp;&nbsp; <i class="fa fa-power-off" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </center>
        </nav>


        <!-- Page Content  -->
        <div id="main" style="width:100%;">
            <div id="content">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <span style=" background-color:#ff243a; border-color: #ff243a;width: 40px;visibility:hidden;"
                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fa fa-align-left" aria-hidden="true" ></i>
                          </button>
                        </span>
                        <h1 style="font-size:30px;font-weight:600 !important;color:#ff243a;">Operations Management System<span style="font-size:30px;font-weight:500;font-style: italic;"> &nbsp; OnSite</span></h1>
                        <div class="btn-group">
                            <!--<button type="button" class="btn btn-danger">OnSite</button>-->
                            <button type="button" class="btn btn-default" id="OffSiteBtn" style="background-color:#ff243a;"><span style="color:white;font-family:cursive;font-size:larger;font-style:italic"><a href="/offsitedashboard/offsitedashboard">Off Site</a></span></button>
                        </div>
                        <div class="logo">
                            <img src="~/Images/g4s_logo.png" alt="G4S" width="80" height="80" />

                        </div>
                    </div>
                </nav>
                <br/>
                <div class="row2dropdown">

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


  


</body>
</html>
